@font-face {
  font-display: swap;
  font-family: "eurostile";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/EurostileLTStd-BoldCn.eot");
  src: url("fonts/EurostileLTStd-BoldCn.eot?#iefix") format("embedded-opentype"),
    url("fonts/EurostileLTStd-BoldCn.woff2") format("woff2"),
    url("fonts/EurostileLTStd-BoldCn.woff") format("woff"),
    url("fonts/EurostileLTStd-BoldCn.ttf") format("truetype"),
    url("fonts/EurostileLTStd-BoldCn.svg#EurostileLTStd-BoldCn") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "eurostile";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/EurostileLTStd-Demi.eot");
  src: url("fonts/EurostileLTStd-Demi.eot?#iefix") format("embedded-opentype"),
    url("fonts/EurostileLTStd-Demi.woff2") format("woff2"),
    url("fonts/EurostileLTStd-Demi.woff") format("woff"),
    url("fonts/EurostileLTStd-Demi.ttf") format("truetype"),
    url("fonts/EurostileLTStd-Demi.svg#EurostileLTStd-Demi") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "eurostile";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/EurostileLTStd-Cn.eot");
  src: url("fonts/EurostileLTStd-Cn.eot?#iefix") format("embedded-opentype"),
    url("fonts/EurostileLTStd-Cn.woff2") format("woff2"),
    url("fonts/EurostileLTStd-Cn.woff") format("woff"),
    url("fonts/EurostileLTStd-Cn.ttf") format("truetype"),
    url("fonts/EurostileLTStd-Cn.svg#EurostileLTStd-Cn") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "eurostile";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/EurostileLTStd.eot");
  src: url("fonts/EurostileLTStd.eot?#iefix") format("embedded-opentype"),
    url("fonts/EurostileLTStd.woff2") format("woff2"),
    url("fonts/EurostileLTStd.woff") format("woff"),
    url("fonts/EurostileLTStd.ttf") format("truetype"),
    url("fonts/EurostileLTStd.svg#EurostileLTStd") format("svg");
}
