---
import Clients from "../components/home/Clients.astro"
import Contact from "../components/home/Contact.astro"
import Hero from "../components/home/Hero.astro"
import Segments from "../components/home/Segments.astro"
import Solutions from "../components/home/Solutions.astro"
import Specttra from "../components/home/Specttra.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Specttra"
  description="Inovação e Tecnologia, para garantir a sua segurança"
>
  <main>
    <Hero />
    <Specttra />
    <Solutions />
    <Segments />
    <Clients />
    <Contact />
  </main>
</Layout>
