<template data-js-alert-box="">
  <div class="alert-box">
    <div class="body">
      <h3 class="title" data-js-alert-title>TITLE_MESSAGE</h3>
      <p class="text" data-js-alert-text>TEXT_MESSAGE</p>
    </div>
  </div>
</template>
