<footer>
  <section id="footer">
    <ul class="icons">
      <li>&copy; Specttra. Todos os direitos reservados</li>
      <li>
        <a href="https://www.facebook.com/specttra.solucoes.integradas/" class="icon" target="_blank">
          {{ partial "helpers/fontawesome" "facebook-f" }}
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/specttra" class="icon" target="_blank">
          {{ partial "helpers/fontawesome" "linkedin-in" }}
        </a>
      </li>
    </ul>
    <div class="copyright">
      <ul class="menu">
        <li>
          <a
            href="https://www.google.com.br/maps/place/Specttra+Solu%C3%A7%C3%B5es+Integradas+em+Seguran%C3%A7a+Eletr%C3%B4nica/@-23.5760906,-46.7261214,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce565ecdf03a09:0x3ed4059de3b348b1!8m2!3d-23.5760906!4d-46.7239327"
            target="_blank"
          >
            R. Antônio de Castro Mendonça Furtado, 61
          </a>
        </li>
        <li>Butantã</li>
        <li>São Paulo, SP</li>
        <li>05540-120</li>
        <li>Tel.: +55 11 3501-4254</li>
      </ul>
    </div>
  </section>
</footer>
