<!-- Banner -->
<section id="banner">
  <header>
    <h2>Quem Somos</h2>
  </header>
  <p>
    A Specttra Tecnologia em Segurança Eletrônica é uma integradora de produtos e serviços para segurança eletrônica.
    <br />
    <br />
    Desenvolvemos soluções integradas através de parcerias estratégicas com fabricantes de tecnologia em Segurança
    Eletrônica, oferecendo aos nossos clientes a customização de projetos que atendam as demandas específicas.
    <br />
    <br />
    Temos em nosso DNA a busca por inovação, através de aprimoramento técnico contínuo.
  </p>
  <footer>
    <a class="button style2 scrolly" href="#first"> Conheça Nossos Diferenciais </a>
  </footer>
</section>
