<section class="section-clients" id="clients">
  <div class="_container">
    {{ partial "global/header.html" (dict "title" "Cases de Sucesso" "subTitle" "Clientes") }}


    <ul class="clients-list" role="list">
      {{ range .Site.Data }}
        {{ range .clients }}
          {{ $image := resources.Get (printf "images/clients/%s.png" . | urlize) }}
          {{ $image := $image.Fill "220x138 Center webp" }}
          <li class="item">
            <img
              class="image group"
              src="{{ $image.RelPermalink }}"
              title="{{ . }}"
              alt="{{ . }}"
              width="{{ $image.Width }}"
              height="{{ $image.Height }}"
              loading="lazy"
            />
            <button class="absolute focus:outline-none" type="button">
              <span class="sr-only">{{ . }}</span>
            </button>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</section>
