<section id="contact">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="relative bg-[#1A1A1A] shadow-xl">
      <h2 class="sr-only">Entre em contato</h2>

      <div class="grid grid-cols-1 lg:grid-cols-3">
        <!-- Contact information -->
        <div class="relative overflow-hidden bg-[#DAAA00] py-10 px-6 sm:px-10 xl:p-12">
          <div class="pointer-events-none absolute inset-0 sm:hidden" aria-hidden="true">
            {{ partial "svg/contact-sm-pattern.svg" }}
          </div>
          <div
            class="pointer-events-none absolute top-0 right-0 bottom-0 hidden w-1/2 sm:block lg:hidden"
            aria-hidden="true"
          >
            {{ partial "svg/contact-md-pattern.svg" }}
          </div>
          <div class="pointer-events-none absolute top-0 right-0 bottom-0 hidden w-1/2 lg:block" aria-hidden="true">
            {{ partial "svg/contact-lg-pattern.svg" }}
          </div>

          <h3 class="text-lg font-semibold uppercase text-black">Informações de contato</h3>
          {{/* <p class="mt-6 max-w-3xl text-base text-white">
            Nullam risus blandit ac aliquam justo ipsum. Quam mauris volutpat massa dictumst amet. Sapien tortor lacus
            arcu.
            </p>
          */}}
          <dl class="mt-8 space-y-6">
            <dt><span class="sr-only">Phone number</span></dt>
            <dd class="flex text-base text-white">
              <i class="inline-block h-6 w-6 text-white">{{ partial "svg/phone.svg" }}</i>
              <span class="ml-3">+55 (11) 3501-4254</span>
            </dd>

            <dt><span class="sr-only">Address</span></dt>
            <dd class="flex text-base text-white">
              <i class="inline-block h-6 w-6 text-white">{{ partial "svg/map-pin.svg" }}</i>
              <span class="ml-3">R. Antônio de Castro Mendonça Furtado, 61 - Butantã - São Paulo, SP</span>
            </dd>
          </dl>

          <ul class="mt-8 flex space-x-6" role="list">
            <li>
              <a
                class="text-white hover:text-indigo-100"
                href="https://www.facebook.com/specttra.solucoes.integradas"
                title="Facebook Icon"
                target="_blank"
              >
                <span class="sr-only">Facebook</span>
                <i class="inline-block h-7 w-7 text-white">{{ partial "svg/facebook.svg" }}</i>
              </a>
            </li>

            <li>
              <a
                class="text-white hover:text-indigo-100"
                href="https://www.linkedin.com/company/specttra"
                title="LinkedIn Icon"
                target="_blank"
              >
                <span class="sr-only">LinkedIn</span>
                <i class="inline-block h-6 w-6 text-white">{{ partial "svg/linkedin.svg" }}</i>
              </a>
            </li>
          </ul>
        </div>

        <!-- Contact form -->
        <div class="contact-form">
          <div class="form-inputs" data-js-form-inputs>
            <h3 class="text-lg font-semibold uppercase text-white">Entre em contato</h3>
            <form class="mt-6 grid gap-y-6 sm:grid-cols-2 sm:gap-x-8" id="form" action="#" method="POST">
              <div>
                <label class="block text-sm font-medium text-white" for="name">Nome</label>
                <div class="mt-1">
                  <input
                    class="block w-full rounded-md border-gray-300 py-3 px-4 shadow-sm focus:border-specttra-yellow focus:ring-specttra-yellow"
                    id="name"
                    name="name"
                    data-form-type="name"
                    type="text"
                    autocomplete="name"
                    required
                  />
                </div>
              </div>

              <div>
                <label class="block text-sm font-medium text-white" for="email">Email</label>
                <div class="mt-1">
                  <input
                    class="block w-full rounded-md border-gray-300 py-3 px-4 shadow-sm focus:border-specttra-yellow focus:ring-specttra-yellow"
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    required
                  />
                </div>
              </div>

              <div class="sm:col-span-2">
                <div class="flex justify-between">
                  <label class="block text-sm font-medium text-white" for="message">Mensagem</label>
                </div>
                <div class="mt-1">
                  <textarea
                    class="block w-full rounded-md border-gray-300 py-3 px-4 shadow-sm focus:border-specttra-yellow focus:ring-specttra-yellow"
                    id="message"
                    name="message"
                    aria-describedby="message-max"
                    rows="6"
                    required
                  ></textarea>
                </div>
              </div>

              <div class="sm:col-span-2 sm:flex sm:justify-end">
                <button
                  class="mt-2 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-specttra-yellow px-6 py-3 text-base font-semibold uppercase text-white shadow-sm hover:bg-specttra-secondary-yellow focus:outline-none focus:ring-2 focus:ring-specttra-amber disabled:opacity-50 sm:w-auto"
                  id="btn-submit"
                  data-js-submit-btn
                  type="submit"
                >
                  Enviar
                </button>
              </div>
            </form>
          </div>

          <div class="form-response hidden" data-js-form-response>
            {{ partial "home/alert-box.html" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
