<!-- Hero -->
<section id="hero">
  <header>
    {{ $logoSpecttra := resources.Get "images/logo/specttra-square-white.svg" }}
    <img
      src="{{ $logoSpecttra.RelPermalink }}"
      alt="Logo Specttra"
      width="260"
      height="260"
      class="animated slideInDown"
    />
    <h1 class="animated slideInDown">Specttra</h1>
    <p class="animated zoomIn">Tecnologia em Segurança Eletrônica</p>
  </header>
  <footer>
    <a href="#banner" class="button style2 scrolly-middle">
      Deslize para prosseguir
    </a>
  </footer>
</section>
