<section class="section-specttra bg-section-specttra" id="specttra">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-lg font-semibold uppercase text-specttra-yellow">Specttra</h2>
      <p class="mt-1 text-4xl font-bold uppercase tracking-tight text-white sm:text-5xl lg:text-6xl">Quem Somos</p>

      {{/* Content Hidden - Show only to spectrra section */}}
      <p class="mx-auto mt-5 max-w-4xl text-center text-xl text-gray-500">
        A Specttra Tecnologia em Segurança Eletrônica é uma integradora de produtos e serviços para segurança
        eletrônica. Desenvolvemos soluções integradas através de parcerias estratégicas com fabricantes de tecnologia em
        Segurança Eletrônica, oferecendo aos nossos clientes a customização de projetos que atendam as demandas
        específicas.
        <br /><br />
        Temos em nosso DNA a busca por inovação, através de aprimoramento técnico contínuo.
      </p>
    </div>
  </div>
</section>
