<footer class="bg-black">
  <div
    class="mx-auto max-w-7xl py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8"
  >
    <div class="flex justify-center space-x-6 md:order-2">
      <a
        href="https://www.facebook.com/specttra.solucoes.integradas"
        title="Facebook Icon"
        target="_blank"
      >
        <span class="sr-only">Facebook</span>
        <i
          class="inline-block h-7 w-7 text-specttra-yellow hover:text-specttra-secondary-yellow"
        >
          <img src="svg/facebook.svg" alt="Facebook Icon" />
        </i>
      </a>

      <a
        href="https://www.linkedin.com/company/specttra"
        title="LinkedIn Icon"
        target="_blank"
      >
        <span class="sr-only">LinkedIn</span>
        <i
          class="inline-block h-6 w-6 text-specttra-yellow hover:text-specttra-secondary-yellow"
        >
          <img src="svg/linkedin.svg" alt="Linkedin Icon" />
        </i>
      </a>
    </div>

    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-base text-specttra-yellow">
        &copy; Specttra. Todos os direitos reservados.
      </p>
    </div>
  </div>
</footer>
