/* Specttra Colors */
#colors {
  --gradient: linear-gradient(to right, #e8aa00, #b87609);
  --primary-yellow: #e8aa00;
  --primary-gray: #343434;
  --primary-black: #000;
  --secondary-red: #c1292e;
  --secondary-orange: #e8501d;
  --secondary-amber: #f29104;
  --secondary-yellow: #f8b133;
}
